<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>

    <%- include("./partials/header.ejs") %>

    <div class="container-fluid bg-breadcrumb py-5">
        <div class="container text-center py-5">
            <h3 class="text-white display-3 mb-4">Gallery</h3>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active text-white">Gallery</li>
            </ol>
        </div>
    </div>

    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mx-auto mb-5" style="max-width: 800px;">
                <p class="fs-4 text-uppercase text-primary">Our Work</p>
                <h1 class="display-4 mb-4">Salon Moments</h1>
            </div>
            <div class="row g-4">
                <div class="col-sm-6 col-md-4"><img src="/web/img/gallery-1.jpg" class="img-fluid rounded" alt="Gallery"></div>
                <div class="col-sm-6 col-md-4"><img src="/web/img/gallery-2.jpg" class="img-fluid rounded" alt="Gallery"></div>
                <div class="col-sm-6 col-md-4"><img src="/web/img/gallery-3.jpg" class="img-fluid rounded" alt="Gallery"></div>
                <div class="col-sm-6 col-md-4"><img src="/web/img/gallery-4.jpg" class="img-fluid rounded" alt="Gallery"></div>
                <div class="col-sm-6 col-md-4"><img src="/web/img/gallery-5.jpg" class="img-fluid rounded" alt="Gallery"></div>
                <div class="col-sm-6 col-md-4"><img src="/web/img/gallery-6.jpg" class="img-fluid rounded" alt="Gallery"></div>
            </div>
        </div>
    </div>

    <%- include("./partials/footerlink.ejs") %>
</body>
</html>
