<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <!-- Spinner Start -->
        <div id="spinner"
            class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->

        <%- include('./partials/header.ejs') %>

            <!-- Header Start -->
            <div class="container-fluid bg-breadcrumb py-5">
                <div class="container text-center py-5">
                    <h3 class="text-white display-3 mb-4">Our Services</h1>
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active text-white">Service Page</li>
                        </ol>
                </div>
            </div>
            <!-- Header End -->

            <!-- Services Start -->
            <%- include('./partials/service-section.ejs', {
                data,
                basePath: '/service',
                searchPath: '/service',
                clearActionPath: '/service',
                showPagination: true,
                showServiceMore: false,
                enableCart: true,
                includeCartScript: true
            }) %>

            <%- include('./partials/footerlink.ejs') %>
    </body>

</html>
